.club-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.club-container .club-card-box {
    width: 100%;
    height: 100%;
    perspective: 800px;
    transition: all 0.3s ease 0s;
}


.club-container .club-card-box:hover .club-card-main {
    transform: rotateY(180deg);

}

.club-container .club-card-box .club-card-main {
    width: 100%;
    height: 300px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transition: transform 2s ease 0s;
}

.club-container .club-card-box .club-card-main .club-card-front {
    backface-visibility: hidden;
    position: absolute;
}

.club-container .club-card-box .club-card-main .club-card-front img {
    /* width: 100%; */
    width: 220px;
    /* height: 80%; */
    height: 350px;
}

.club-container .club-card-box .club-card-main .club-card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.club-container .club-card-box .club-card-main .club-card-back p {
    font-size: 40px;
    margin: auto;
    padding: 2px;
    line-height: 1.2;
}



.font-DancingScript {
    font-family: 'Dancing Script', cursive;
    display: inline-block;

}


.typing::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: #4FC3F7;
    animation: cursorBlink 0.8s steps(3) infinite;
}

@keyframes cursorBlink {

    0%,
    75% {
        opacity: 1;
    }

    76%,
    100% {
        opacity: 0;
    }
}

.typing {
    position: relative;
}

.typing h2 {
    position: relative;
    letter-spacing: 5px;
    font-size: 4rem;
    overflow: hidden;
    margin-bottom: 0;
    animation: type 5s steps(11) infinite;
}

@keyframes type {

    0%,
    100% {
        width: 0px;
        color: #4FC3F7;
    }

    30%,
    60% {
        width: 394.09px;
        color: #f74f4f;
    }

}

@media(max-width: 330px) {
    .typing h2 {
        font-size: 3rem;
        animation: type 5s steps(10) infinite;
    }

    @keyframes type {

        0%,
        100% {
            width: 0px;
        }

        30%,
        60% {
            width: 305px;
        }
    }
}


.font_01 {
    font-family: 'Babylonica', cursive;
}

.font_02 {
    font-family: 'Great Vibes', cursive;
}

.font_03 {
    font-family: 'Allura', cursive;
}

.font_04 {
    font-family: 'Tangerine', cursive;
}

.font_05 {
    font-family: 'Italianno', cursive;
}

.font_06 {
    font-family: 'Niconne', cursive;
}

.background_image_img_01 {
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

.background_image_img_02 {
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
}

.background_image_img_03 {
    background-color: #48a772;
    background-image: linear-gradient(50deg, #48a772 0%, #fffc8d 50%, #ff4242 100%);
}

.background_image_img_04 {
    background-image: linear-gradient(to right top, #e1c7c7, #e6cbd8, #ded2ec, #ccddfc, #b7e8ff, #a6e8ff, #93e7ff, #7ee7ff, #6ddaff, #72caff, #8cb7ff, #ada1ff);
}

.background_image_img_05 {
    background-image: linear-gradient(to right top, #f8ff57, #ffd75d, #ffb284, #ff9cb0, #ff97d3, #f799e2, #eb9cf1, #dba0ff, #d0a0ff, #c4a1ff, #b9a1ff, #ada1ff);
}

.background_image_img_06 {
    background-image: linear-gradient(to left bottom, #ff575f, #ff7797, #ff9ac5, #f9bce6, #f3dbf9, #ede7ff, #eef1ff, #f5f9ff, #e8f6ff, #d8f4ff, #c4f2ff, #b0f1ff);
}

.card {
    margin-top: 10px;
}

.custom_bg {
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    animation: custom_bg 10s infinite;
}

@keyframes custom_bg {
    0% {
        background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    }

    15% {
        background-image: linear-gradient(to right top, #e1c7c7, #e6cbd8, #ded2ec, #ccddfc, #b7e8ff, #a6e8ff, #93e7ff, #7ee7ff, #6ddaff, #72caff, #8cb7ff, #ada1ff);

    }

    30% {
        background-image: linear-gradient(to left bottom, #ff575f, #ff7797, #ff9ac5, #f9bce6, #f3dbf9, #ede7ff, #eef1ff, #f5f9ff, #e8f6ff, #d8f4ff, #c4f2ff, #b0f1ff);
    }

    45% {
        background-image: linear-gradient(to right top, #f8ff57, #ffd75d, #ffb284, #ff9cb0, #ff97d3, #f799e2, #eb9cf1, #dba0ff, #d0a0ff, #c4a1ff, #b9a1ff, #ada1ff);
    }

    60% {
        background-image: linear-gradient(to right top, #e1c7c7, #e6cbd8, #ded2ec, #ccddfc, #b7e8ff, #a6e8ff, #93e7ff, #7ee7ff, #6ddaff, #72caff, #8cb7ff, #ada1ff);
    }

    75% {
        background-color: #48a772;
        background-image: linear-gradient(50deg, #48a772 0%, #fffc8d 50%, #ff4242 100%);
    }

    90% {
        background-color: #85FFBD;
        background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    }

    100% {
        background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    }
}