.club-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.club-container .club-card-box {
    width: 100%;
    height: 100%;
    perspective: 800px;
    transition: all 0.3s ease 0s;
}


.club-container .club-card-box:hover .club-card-main {
    transform: rotateY(180deg);

}

.club-container .club-card-box .club-card-main {
    width: 100%;
    height: 300px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transition: transform 2s ease 0s;
}

.club-container .club-card-box .club-card-main .club-card-front {
    backface-visibility: hidden;
    position: absolute;
}

.club-container .club-card-box .club-card-main .club-card-front img {
    width: 100%;
    height: 80%;
}

.club-container .club-card-box .club-card-main .club-card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.club-container .club-card-box .club-card-main .club-card-back p {
    font-size: 40px;
    margin: auto;
    padding: 2px;
}


.font-DancingScript {
    font-family: 'Dancing Script', cursive;
    display: inline-block;

}


.typing::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: #4FC3F7;
    animation: cursorBlink 0.8s steps(3) infinite;
}

@keyframes cursorBlink {

    0%,
    75% {
        opacity: 1;
    }

    76%,
    100% {
        opacity: 0;
    }
}

.typing {
    position: relative;
}

.typing h2 {
    position: relative;
    letter-spacing: 5px;
    font-size: 4rem;
    overflow: hidden;
    margin-bottom: 0;
    animation: type 5s steps(11) infinite;
}

@keyframes type {

    0%,
    100% {
        width: 0px;
        color: #4FC3F7;
    }

    30%,
    60% {
        width: 394.09px;
        color: #f74f4f;
    }

}

@media(max-width: 330px) {
    .typing h2 {
        font-size: 3rem;
        animation: type 5s steps(10) infinite;
    }

    @keyframes type {

        0%,
        100% {
            width: 0px;
        }

        30%,
        60% {
            width: 305px;
        }
    }
}


.font_01 {
    font-family: 'Babylonica', cursive;
}

.font_02 {
    font-family: 'Great Vibes', cursive;
}

.font_03 {
    font-family: 'Allura', cursive;
}

.font_04 {
    font-family: 'Tangerine', cursive;
}

.font_05 {
    font-family: 'Italianno', cursive;
}

.font_06 {
    font-family: 'Niconne', cursive;
}

.background_image_img_01 {
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

.background_image_img_02 {
    background-image: linear-gradient(to right top, #6b79d1, #7771cd, #8468c7, #905ec0, #9b53b7, #aa47a8, #b63a98, #bf2c86, #c8206b, #c9214f, #c42c34, #b93b18);
}

.background_image_img_03 {
    background-image: radial-gradient(circle, #868db9, #8389bc, #8084bf, #7e80c2, #7c7bc4, #8e78bf, #9e74b9, #ab71b1, #be749f, #c67b90, #c68586, #c29083);
}

.background_image_img_04 {
    background-image: radial-gradient(circle, #86b9b2, #7dbdad, #78c1a4, #78c499, #7ec68a, #92c078, #a5ba6a, #b6b260, #c8a262, #d0946d, #cd897b, #c28389);
}

.background_image_img_05 {
    background-image: radial-gradient(circle, #b786b9, #c684aa, #cf849a, #d2878c, #d08c7f, #d08c84, #d08c8a, #cf8d8f, #c78ea5, #b493b8, #9c99c2, #839fc2);
}

.background_image_img_06 {
    background-image: radial-gradient(circle, #f4f4f4, #dfdedf, #cbc8c9, #b7b2b3, #a49d9c, #a09491, #9c8b86, #97837b, #a2847b, #ad847c, #b7837f, #c28383);
}